@{
    ViewBag.Title = "Marvel Rivals Stats";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to Marvel Rivals Fan Stats Hub!</h1>
        <p class="lead">
            Here you can find all the latest news, stats, and information about your favorite Marvel heroes and their epic
            battles.
        </p>
        <p>Explore the latest updates, track your favorite heroes, and stay connected with the Marvel Rivals community.</p>
        <p>Join us in celebrating the Marvel Rivals universe!</p>
    </section>

    <div class="row dashboard-links">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>@Html.ActionLink("View Leader Board", "Index", "LeaderBoard")</p>
            <p>@Html.ActionLink("View Heroes", "Index", "Heroes")</p>
            <p>@Html.ActionLink("View Match History", "Index", "MatchHistory")</p>
            <p>@Html.ActionLink("View News", "Index", "News")</p>
        </section>
    </div>
</main>